.mainForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameInput{
    
    align-content: center !important;
    width: rem(450px) !important;
}
.mainButtonGroup{
    /* padding-top: rem(13%) !important; */
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    
}
.mainButton{
    width: rem(200px) !important;
}
.textAreaDetails{
    /* display: flex;
    flex-grow: inherit  ;
    justify-content: center; */
    width: rem(900px) ;
}
.multiSelect{
    align-content: center !important;
    /* this is for the drop zone  */
    width: 200px !important;
}