.icon {
    width: rem(13px);
    height: auto;
    vertical-align: rem(-1px);
    margin-right: rem(8px);
  }
  
.expandIcon {
    transition: transform 0.2s;
  }
  
.expandIconRotated {
    transform: rotate(90deg);
  }
.mantine-datatable-pagination {
    display: flex !important;
    flex-direction: row !important;
}
/* styles.module.css */
.pagination {
    display: flex !important;
    flex-direction: row !important;
}

